.DataList {
    display: inline-block;
  border: none;
}

.btn btn-primary{
    text-align: left;
    padding-bottom: 2px;
    margin: 5px;
  }

.DataList>form{
  display:flex;
  flex-direction: column;
}
